

.person-files{
  display: block;
  text-align: left;



  .file{
    display: inline-block;
    width: 120px;
    height: 120px;
    position: relative;
    margin: 5px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 5px;

    border: 1px solid #dddfe2;
    color: #464a4e;
    background-color: #e7e8ea;

    >img{
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
    }

    >i{
      visibility: hidden;
      font-size: 36px;
      z-index: 10;
      color: white;
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: 10;
    }

    &:hover{
      >i{
        visibility: visible;
      }
    }
  }
}