<div class="container">
    <ul class="nav nav-pills flex-column flex-md-row mt-3">
        <a class="nav-item nav-link" routerLink="./dashboard" routerLinkActive="active">Дашборд</a>
        <a class="nav-item nav-link" routerLink="./physicians" routerLinkActive="active">Специализации</a>
        <a class="nav-item nav-link" routerLink="./drugs" routerLinkActive="active">Медикаменты</a>
        <a class="nav-item nav-link" routerLink="./plans" routerLinkActive="active">Планы продаж</a>
    </ul>
    <router-outlet></router-outlet>
</div>