
<div class="container">

    <div *ngIf="list.length; then blockList else blockEmpty"></div>

    <ng-template #blockList>
        <div class="text-sm-right mt-3">
            <span>Показывать на:</span>
            <div class="form-check form-check-inline ml-2">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="showForCategory"> категорию
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="showForGroup"> группу
                </label>
            </div>

            <div class="form-check form-check-inline disabled">
                <label class="form-check-label">
                    <input class="form-check-input" disabled type="checkbox" [(ngModel)]="showForPerson"> человека
                </label>
            </div>
        </div>
        <div class="row justify-content-start align-items-start">
            <div class="col-md-12 mt-3"  *ngFor="let item of list; let i = index;">
                <div class="card" style="font-size: 0.9em">
                    <div class="card-header">
                        <h5 class="card-title mb-0" style="font-size: 1.4em"> #{{i+1}} ({{item.drug.name}}, {{item.count}}ед)</h5>
                    </div>
                    <div class="card-body row">
                        <div *ngFor="let ph of item.physiciansList" class="col-md-6">
                            <h5 class="card-title" style="font-size: 1em">
                                {{ph.physician.name}} ({{ph.physician.persons}}чл) {{categoryTemplate(calculateItemsForCategory(item.count, ph.percents).toFixed(2), showForCategory)}}
                            </h5>
                            <div class="card-text">
                                <ul>
                                    <li *ngFor="let gr of ph.physician.groups">
                                        {{gr.name}}, {{ groupTemplate(calculateItemsForGroup(item.count, ph.percents, gr.percents).toFixed(2), showForGroup)}} (~{{calculateItemsForPerson(item.count, ph.percents, gr.percents, gr.persons).toFixed(2)}}ед на 1 чел.)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #blockEmpty>
        <div class="pt-2 pb-2">
            Нет созданных планов
        </div>
    </ng-template>
</div>