
<div class="container" style="padding-top: 100px; padding-bottom: 100px">
    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="text-center" style="font-size: 56px">
                <i class="fa fa-hospital-o"></i>
            </div>
            <h4 class="text-lef mt-2">
                Регистриция
            </h4>
            <form class="mt-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Введите email" name="email" [(ngModel)]="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль" name="password" [(ngModel)]="password"/>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">Повторить пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Пароль" name="password" [(ngModel)]="password_again"/>
                </div>
                <div *ngIf="error_message" class="alert alert-danger" role="alert">
                    {{error_message}}
                </div>
                <div *ngIf="success" class="alert alert-success" role="alert">
                    Вы успешно зарегистрированы
                </div>
                <div class="text-center">
                    <button [disabled]="isDisabled()" (click)="onSubmit($event)" class="btn btn-primary">Отправить</button>
                </div>

                <div class="text-center mt-4">
                    Есть аккаунт? - <a routerLink="../login">Войдите</a>
                </div>
            </form>
        </div>
    </div>
</div>