
<h4 class="m-3">
    <div *ngIf="physician && physician.id; then old else new"></div>
    <ng-template #new>Создание:</ng-template>
    <ng-template #old>Редактирование:</ng-template>
</h4>
<div *ngIf="ready">
    <div class="row p-3 mt-4">
        <div class="col-md-5">
            <form id="add-form">
                <div class="form-group">
                    <label for="phy-name">Название</label>
                    <input type="text" class="form-control" id="phy-name" name="name" [(ngModel)]="physician.name" placeholder="">
                </div>
                <div class="form-group">
                    <label for="phy-persons">Количество врачей</label>
                    <input type="number" class="form-control" id="phy-persons" name="persons" [(ngModel)]="physician.persons" placeholder="">
                </div>
                <div class="form-group">
                    <label for="phy-desc">Описание</label>
                    <textarea class="form-control" id="phy-desc" name="desc" [(ngModel)]="physician.description" rows="3"></textarea>
                </div>
            </form>
        </div>
        <div class="col-md-7">
            Категории
            <div class="mt-3">
                <div class="alert alert-info" *ngFor="let g of groups; let i =index">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <label for="group-n{{i}}">Имя</label>
                            <input type="text" class="form-control" id="group-n{{i}}" [(ngModel)]="g.name">
                        </div>
                        <div class="col-md-3">
                            <label for="group-p{{i}}">Процентов</label>
                            <input type="number" class="form-control" id="group-p{{i}}" [(ngModel)]="g.percents">
                        </div>
                        <div class="col-md-3">
                            <label for="group-pr{{i}}">Человек</label>
                            <input type="number" class="form-control" id="group-pr{{i}}" [(ngModel)]="g.persons">
                        </div>
                        <div class="col-md-2 pt-2">
                            <button class="btn btn-sm btn-danger" (click)="removeGroup(i)"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center mt-3">
                <div class="col-md-auto">
                    <button class="btn btn-info" (click)="addGroup()">Добавить еще</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-auto">
            <button form="add-form" class="btn btn-primary" [disabled]="isDisabled()" (click)="onCreatePhysician()">Сохранить</button>
        </div>
    </div>

</div>