

<div class="row justify-content-end mt-3">
    <div class="col-md-auto">
        <button class="btn btn-primary" routerLink="../add">Добавить</button>
    </div>
</div>

<div *ngIf="physicians && physicians.length; then blockList else blockEmpty"></div>

<ng-template #blockList>

    <table class="table table-responsive-md mt-3">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Человек</th>
            <th>Групы</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of physicians; let i = index; ">
            <td>{{i+1}}</td>
            <td>{{p.name}}</td>
            <td>{{p.persons}}</td>
            <td>
                <div *ngFor="let g of p.groups" class="badge badge-secondary m-1">{{shortGroup(g)}}</div>
            </td>
            <td>
                <button class="btn btn-sm btn-warning" routerLink="./{{p.id}}">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="onRemove(p)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #blockEmpty>
    <div class="pt-2 pb-2">
        Пусто
    </div>
</ng-template>