
<div class="row justify-content-end mt-3">
    <div class="col-md-auto">
        <button class="btn btn-primary" routerLink="../add">Добавить</button>
    </div>
</div>

<div *ngIf="detailedPlans.length; then blockList else blockEmpty"></div>

<ng-template #blockList>

    <table class="table table-responsive-md mt-3">
        <thead>
        <tr>
            <th>#</th>
            <th>Медикамент</th>
            <th>Едениц</th>
            <th>Категории врачей</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pd of detailedPlans; let i = index; ">
            <td>{{i+1}}</td>
            <td>{{pd.drug.name}}</td>
            <td>{{pd.count}}</td>
            <td>
                <div *ngFor="let l of pd.physiciansList" class="badge badge-info m-1">
                    {{l.physician.name}} ({{l.physician.persons}} чл.)
                </div>

            </td>
            <td>
                <button class="btn btn-sm btn-warning" routerLink="./{{pd.id}}">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="onRemove(pd)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</ng-template>

<ng-template #blockEmpty>
    <div class="pt-2 pb-2">
        Пусто {{detailedPlans.length}}
    </div>
</ng-template>
