
<div *ngIf="ready">
    <h4 class="m-3">
        <div *ngIf="data.plan.id; then old else new"></div>
        <ng-template #new>Создание:</ng-template>
        <ng-template #old>Редактирование:</ng-template>
    </h4>
    <div>
        <div class="row mt-4">
            <div class="col-md-6">
                <form id="add-form">
                    <div class="form-group">
                        <label for="phy-name">Название</label>
                        <input type="text" class="form-control" id="phy-name" name="name" [(ngModel)]="data.plan.name" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="phy-name">Количество едениц</label>
                        <input type="text" class="form-control" id="phy-count" name="count" [(ngModel)]="data.plan.count" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="drug-input">Медикамент</label>
                        <select [disabled]="isDataEmpty()" class="form-control" id="drug-input" name="drugId" [(ngModel)]="data.plan.drugId">
                            <option *ngFor="let d of data.drugs" value="{{d.id}}">{{d.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="physician-input">Категории врачей</label>
                        <select multiple [disabled]="isDataEmpty()" class="form-control" id="physician-input" name="physicianId" [(ngModel)]="selectedPhysicians" (change)="onChangeSelectedPhysicians()">
                            <option *ngFor="let p of data.physicians" value="{{p.id}}">{{p.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h5>Настройки категорий</h5>

                <div class="mt3">
                    <div *ngFor="let p of list; let i = index" class="alert alert-success">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="name{{i}}" class="sr-only">Name</label>
                                    <input type="text" readonly class="form-control" id="name{{i}}" value="{{getPhysicianName(p.physicianId)}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="percents{{i}}" class="sr-only">Процент</label>
                                    <input type="number" class="form-control" id="percents{{i}}" placeholder="%" [(ngModel)]="p.percents">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-auto">
                <button form="add-form" class="btn btn-primary" [disabled]="isDisabled()" (click)="onCreatePlan()">Сохранить</button>
            </div>
        </div>
    </div>
</div>