<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
        <i class="fa fa-hospital-o" style="font-size: 24px"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
            <a class="nav-link" routerLink="./sales" routerLinkActive="active">Продажи</a>
            <a class="nav-link" routerLink="./visits" routerLinkActive="active">Визиты</a>
        </ul>
        <div class="navbar-text">
            <span *ngIf="me" class="small">{{me['email']}}</span>
            <button class="btn btn-light" (click)="onLogout()">Выйти</button>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>