
<h4 class="m-3">
    <div *ngIf="drug && drug.id; then old else new"></div>
    <ng-template #new>Создание:</ng-template>
    <ng-template #old>Редактирование:</ng-template>
</h4>

<div class="row mt-4">
    <div class="col-md-12">
        <form id="add-form">
            <div class="form-group">
                <label for="phy-name">Название</label>
                <input type="text" class="form-control" id="phy-name" name="name" [(ngModel)]="drug.name" placeholder="">
            </div>
            <div class="form-group">
                <label for="phy-desc">Описание</label>
                <textarea class="form-control" id="phy-desc" name="description" [(ngModel)]="drug.description" rows="3"></textarea>
            </div>
        </form>
    </div>

</div>

<div class="row justify-content-center mt-3">
    <div class="col-md-auto">
        <button form="add-form" class="btn btn-primary" [disabled]="isDisabled()" (click)="onCreateDrug()">Сохранить</button>
    </div>
</div>