
<div class="row justify-content-end mt-3">
    <div class="col-md-auto">
        <button class="btn btn-primary" routerLink="../add">Добавить</button>
    </div>
</div>

<div *ngIf="drugs && drugs.length; then blockList else blockEmpty"></div>

<ng-template #blockList>
    <table class="table table-responsive-md mt-3">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Описани</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let d of drugs; let i = index; ">
            <td>{{i+1}}</td>
            <td>{{d.name}}</td>
            <td>{{d.description == ''?'Пусто': d.description}}</td>
            <td>
                <button class="btn btn-sm btn-warning" routerLink="./{{d.id}}">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="onRemove(d)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #blockEmpty>
    <div class="pt-2 pb-2">
        Пусто
    </div>
</ng-template>